<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.fields_for :cover_attributes do |cover_subform| %>
      <%= cover_subform.hidden_field :attachment, value: form.object.cover&.cached_attachment_data %>
      <%= cover_subform.file_field :attachment %>
      <%= image_tag form.object.cover.attachment_url, style: 'width: 100px' if form.object.cover.present? %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
